@using e_project.Models
@{
    Layout = null;
    var adminEmail = Context.Session.GetString("AdminEmail");
    string adminName = "";

    if (string.IsNullOrEmpty(adminEmail))
    {
        Context.Response.Redirect("/Admins/Login");
    }
    else
    {
        using (var scope = Context.RequestServices.CreateScope())
        {
            var db = scope.ServiceProvider.GetRequiredService<AppDbContext>(); // or GetService<AppDbContext>();
            var admin = db.Admins.FirstOrDefault(a => a.Email == adminEmail);
            adminName = admin?.FullName ?? "Admin";
        }
    }
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>
    <!-- Google Fonts (optional) -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome (icons) -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/admin/css/sb-admin-2.min.css" rel="stylesheet">

</head>


<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Admins" asp-action="Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-image"></i>
                </div>
                <div class="sidebar-brand-text mx-3">MyImage Admin</div>
            </a>

            <hr class="sidebar-divider my-0">

            <!-- Dashboard -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="Admins" asp-action="Index">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Orders -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="Admins" asp-action="AllOrders">
                    <i class="fas fa-box"></i>
                    <span>Orders</span>
                </a>
            </li>

            <!-- Users -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="Admins" asp-action="Users">
                    <i class="fas fa-users"></i>
                    <span>Users</span>
                </a>
            </li>

            <!-- Pricing -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="Admins" asp-action="ManagePrintSizes">
                    <i class="fas fa-tags"></i>
                    <span>Pricing</span>
                </a>
            </li>
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Logout -->
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
        <!-- End Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <span class="ml-auto text-gray-800 small font-weight-bold">
                        Logged in as: @adminName

                    </span>
                </nav>

                <!-- Main Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>

            </div>

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto text-center">
                    <span>&copy; @DateTime.Now.Year MyImage Admin Panel</span>
                </div>
            </footer>
        </div>
    </div>

    <!-- Logout Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ready to Logout?</h5>
                    <button class="close" type="button" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">Click "Logout" to end your session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" asp-controller="Admins" asp-action="Logout">Logout</a>
                </div>
            </div>
        </div>
    </div>


        <!-- Bootstrap core JavaScript-->
        <script src="~/admin/vendor/jquery/jquery.min.js"></script>
        <script src="~/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="~/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="~/admin/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="~/admin/vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="~/admin/js/demo/chart-area-demo.js"></script>
        <script src="~/admin/js/demo/chart-pie-demo.js"></script>

        @await RenderSectionAsync("Scripts", required: false)

</body>

</html>