@model e_project.Models.Admin
@{
    Layout = null;
    ViewData["Title"] = "Admin Register";
}

<!-- Custom fonts for this template -->
<link href="~/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="~/admin/css/sb-admin-2.min.css" rel="stylesheet">

<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                        <div class="col-lg-7">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Create an Admin Account</h1>
                                </div>

                                <form asp-action="Register" method="post" class="user">
                                    <div asp-validation-summary="All" class="text-danger"></div>

                                    <div class="form-group">
                                        <input asp-for="FullName" class="form-control form-control-user" placeholder="Full Name" />
                                        <span asp-validation-for="FullName" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <input asp-for="Email" class="form-control form-control-user" placeholder="Email Address" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <input asp-for="Password" type="password" class="form-control form-control-user" placeholder="Password" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>

                                    <input asp-for="Role" type="hidden" value="Admin" />

                                    <button type="submit" class="btn btn-primary btn-user btn-block mt-3">Register</button>

                                    <hr>
                                    <a href="#" class="btn btn-google btn-user btn-block">
                                        <i class="fab fa-google fa-fw"></i> Register with Google
                                    </a>
                                    <a href="#" class="btn btn-facebook btn-user btn-block">
                                        <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                    </a>
                                </form>

                                <hr>
                                <div class="text-center">
                                    <a class="small" href="#">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" asp-action="Login">Already have an account? Login!</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="~/admin/vendor/jquery/jquery.min.js"></script>
<script src="~/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript -->
<script src="~/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages -->
<script src="~/admin/js/sb-admin-2.min.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
